body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding:0;
}
header {
    background-image: url(01.JPG) ;
    /* font-family: 'Times New Roman', Times, serif; */
    width: 100%;
    color: aqua;
    padding: 2rem;
    text-align: justify;
}
.container {
    display: flex;
    margin: 20px;
}
.sidebar {
    flex: 1;
    background: #f4f4f4;
    padding: 20px;
}
.sidebar h5 {
    margin-top: 0;
    padding: 10px;
    background-color: aquamarine;
    counter-reset: #fff;
    border: 0px solid #fd8775;
    border-radius: 5px;
}
.content {
    flex: 3;
    padding: 20px;
}
.wrapped-image{
    float: left;
    margin-right: 20px;
    padding: 5px;
}
img{
    margin-right: 2px;
    margin-top: 2px;
    margin-left: 2px;

    width: 150px;
    height: 150px;
    border-radius: 8px;
    
}
.gambar{
    margin-right: 2px;
    margin-top: 2px;
    margin-left: 2px;

    width: 100px;
    height: 100px;
    border-radius: 8px;
}
footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}
nav {
    background-color: #000000;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}
nav ul li {
    margin: 0 20px;    
}
nav ul li a {
    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:hover {
    text-decoration: underline;
}
.text::selection{
    background: #fd8775;
    color: #fff;
}
.search-container{
    display: 1px;
    align-items: center;
}
.search-container input [type="text"]{
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.search-container button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    background-color: #4cfa50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.content{
    flex-grow: 1;
    background-color: #ffff;
    padding: 20px;
}
.content article{
    margin-bottom: 30px;
}
.article-content{
    max-height: 15px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.full-text{
    display: none;
}
.show-full{
    max-height: none;
}
#more {display: none;}
button{
    background-color: aqua;
    color: #ffff;
    border-radius: 20%;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform o.2s ease;
}
.read-more-button{
    background-color: aqua;
    color: #ffff;
    border-radius: 20%;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease, transform o.2s ease;
}
#myInput {
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
  }
  
  #myUL {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #myUL li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 18px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
  }
  
  #myUL li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
  }